<article class="post">
    <h5 class="post-header">{{post.title}}</h5>
    <div class="post-body">
        <p class="post-text">{{post.content}}</p>
    </div>
</article>


{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<div class="comment">
    {{#each post.comments}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment}}
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="../public/javascript/comment.js"></script>
{{/if}}
{{#if loggedIn}}
<script src="../public/javascript/comment.js"></script>
{{/if}}